# Default ignored files
/shelf/
/*.xml
/compiler.xml
/encodings.xml
/jarRepositories.xml
/vcs.xml
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
